# Imports

In [1]:
import pandas as pd
import numpy as np

# loading data

In [4]:
datasetTrainPath = "Dataset/train.csv"
trainDataset_pd = pd.read_csv(datasetTrainPath) # takes a while to read: around a minute

Ideas for features: <br>
- group by asset id in order to see if increasing or decrease after each timestamp (see with which variable to perform it)<br>
- Count variabilty (in % rate) after each timestamp. Do it also with a binary variable to see if it increase or decreased (perform same thing with other features ) <br>
- open and close variability (see it with high and low instead)


to do: <br>
- understand target and vwap<br>
- remove nan / or see what to do with them in the features <br>
- setup the ideas for the new features <b>
- check distribution of features (?) for each asseID <br>
- standarize variables ? given the fact that its a continuous increasing variables maybe it doesn't make sense <br>

In [7]:
trainDataset_pd.head(10)

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1514764860,2,40.0,2376.580000,2399.5000,2357.1400,2374.590000,19.233005,2373.116392,-0.004218
1,1514764860,0,5.0,8.530000,8.5300,8.5300,8.530000,78.380000,8.530000,-0.014399
2,1514764860,1,229.0,13835.194000,14013.8000,13666.1100,13850.176000,31.550062,13827.062093,-0.014643
3,1514764860,5,32.0,7.659600,7.6596,7.6567,7.657600,6626.713370,7.657713,-0.013922
4,1514764860,7,5.0,25.920000,25.9200,25.8740,25.877000,121.087310,25.891363,-0.008264
5,1514764860,6,173.0,738.302500,746.0000,732.5100,738.507500,335.987856,738.839291,-0.004809
6,1514764860,9,167.0,225.330000,227.7800,222.9800,225.206667,411.896642,225.197944,-0.009791
7,1514764860,11,7.0,329.090000,329.8800,329.0900,329.460000,6.635710,329.454118,NaN
8,1514764920,2,53.0,2374.553333,2400.9000,2354.2000,2372.286667,24.050259,2371.434498,-0.004079
9,1514764920,0,7.0,8.530000,8.5300,8.5145,8.514500,71.390000,8.520215,-0.015875